extends layout 

include mixins/_bookings

block content



    .app__wrapper
        .app__header
            .header__wrapper
                .header__icon__box.menu__button
                    img(src=`https://res.cloudinary.com/dl774tcx9/image/upload/a_1/cover/${user.photo || '2020-04-06T13:16:15.638Z'}.jpg`)
                .header__title__box 
                    a(href="/app/explore")
                        h1= title
                .header__search__box
                    svg.search--active(width="20px", height="20px")
                            use(xlink:href="/images/icons/magnifying-glass.svg#magnifyingIcon")
            .header__search
                input(type="text" name="search" placeholder="Find a lash tech..")
                .search__results
        .app__body
            if user.bookings === undefined || user.bookings == 0
                .no__favs
                    .no__favs__icon
                        svg(width="40px", height="40px")
                            use(xlink:href="/images/icons/book.svg#bookIcon")
                    .no__favs__content
                        h2 Your bookings will appear here 
                        p= user.bookings
                        h3 Make bookings over on the explore page
                    .no__favs__button
                        a(href="/app/explore")
                            input(type="button", value="Find a seller")
            else 
                .booking__info
                        h2 Active Bookings
                each store in selectedStore
                    +bookings(store)
        .app__navigation
            .app__navigation__container
                .app__nav__inner
                    a(href="/app/explore")
                        .app__nav__img__wrp
                            svg(width="20px", height="20px")
                                use(xlink:href="/images/icons/magnifying-glass.svg#magnifyingIcon")
                        h3 Explore
                .app__nav__inner
                    a(href="/app/favourites")
                        .app__nav__img__wrp
                            svg(width="20px", height="20px")
                                use(xlink:href="/images/icons/heart.svg#favouritesIcon")
                        h3 My Favourites
                .app__nav__inner.app__selected
                    a(href="/app/bookings")    
                        .app__nav__img__wrp
                            svg(width="20px", height="20px")
                                use(xlink:href="/images/icons/shopping-bag.svg#bookingsIcon")
                        h3 My Bookings
        .app__nav 
            .app__nav__inner
                svg.cancel__menu(width="30px", height="30px")
                    use(xlink:href="/images/icons/cancel.svg#cancelIcon")
                .app__nav__header
                    .app__nav__header__img
                        img(src=`https://res.cloudinary.com/dl774tcx9/image/upload/a_1/cover/${user.photo || '2020-04-06T13:16:15.638Z'}.jpg`)
                    .app__nav__header__title
                        h2 #{user.name} 🌴
                        p= user.email
                .app__nav__body
                    .app__nav__btn
                        a(href="/user/account")
                            button 
                                i 
                                    svg(width="25px", height="25px")
                                        use(xlink:href="/images/icons/upload.svg#uploadIcon") 
                                |Upload a profile picture
                            

                    a(href="/user/account")
                        .app__nav__section
                            .app__nav__icon
                                span.menu__icon
                                    svg(width="24px", height="24px")
                                        use(xlink:href="/images/icons/settings.svg#settingsIcon")
                            .app__nav__page
                                p Account Settings
                    -let isOwner = false;
                        each store in stores
                            if  user && store.author.equals(user._id)
                                - isOwner = true;
                                a(href=`/app/${store._id}/edit`)
                                    .app__nav__section
                                        .app__nav__icon
                                            span.menu__icon
                                                svg(width="24px", height="24px")
                                                    use(xlink:href="/images/icons/settings-1.svg#editStoreIcon")
                                        .app__nav__page
                                            p Edit your store       
                        if !isOwner
                                a(href="/app/seller/create")
                                    .app__nav__section
                                        .app__nav__icon
                                            span.menu__icon
                                                svg(width="24px", height="24px")
                                                    use(xlink:href="/images/icons/shopping-cart.svg#shoppingIcon")
                                        .app__nav__page
                                            p Become a seller today
                    a(href="/explore/map")
                        .app__nav__section
                            .app__nav__icon
                                span.menu__icon
                                    svg(width="24px", height="24px")
                                        use(xlink:href="/images/icons/magnifying-glass.svg#magnifyingIcon")
                            .app__nav__page
                                p Sellers near me
                    a(href="/explore/top")
                        .app__nav__section
                            .app__nav__icon
                                span.menu__icon
                                    svg(width="24px", height="24px")
                                        use(xlink:href="/images/icons/like.svg#likeIcon")
                            .app__nav__page
                                p Top Sellers
                    a(href="/logout")
                        .app__nav__section
                            .app__nav__icon
                                span.menu__icon
                                    svg(width="24px", height="24px")
                                        use(xlink:href="/images/icons/logout.svg#logoutIcon")
                            .app__nav__page
                                p Log out
    .app__blackout
   
