extends layout 

include mixins/_review

block content 

   
    .app__wrapper
        .app__header
            .header__wrapper
                .header__icon__box.menu__button
                    img(src=`https://res.cloudinary.com/dl774tcx9/image/upload/a_1/cover/${user.photo || '2020-04-06T16:31:09.294Z'}.jpg`)
                .header__title__box 
                    a(href="/app/explore")
                        h1 Lashbase
                .header__search__box
                    form(method="POST" action=`/api/stores/${selectedStore._id}/favourites` class="favourites__form")
                        - const favStrings = user.favourites.map(obj => obj.toString())
                        - const ticked = favStrings.includes(selectedStore._id.toString()) ? 'heart__button--hearted' : ''
                            if ticked 
                                button(type="submit" class=ticked name="heart")
                                    svg.full__heart(width="25px", height="25px")
                                        use(xlink:href=`/images/icons/fullheart.svg#fullHeart`) 
                            else 
                                button.empty__heart(type="submit" name="heart")
                                    svg(width="25px", height="25px" )
                                        use(xlink:href=`/images/icons/fullheart.svg#fullHeart`) 
            .header__search
                input(type="text" name="search" placeholder="Find a lash tech..")
                .search__results
        .app__body
            .body__img__warpper
                img(src=`https://res.cloudinary.com/dl774tcx9/image/upload/a_ignore/pictures/${selectedStore.photo || '2020-04-06T13:16:15.638Z'}.jpg`)
            .body__each__content
                h1= selectedStore.name
                .each__content__flex
                    h2 Eyelash Technician
                    each rating in averageRating
                            if rating.slug === selectedStore.slug
                                - let i = Math.round(rating.averageRating * 10 / 10) 
                                if i <= 1 || null
                                    .each__reviews
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                if i === 2
                                    .each__reviews
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                if i === 3 
                                    .each__reviews
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                            
                                if i === 4 
                                    .each__reviews
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                if i === 5
                                    .each__reviews
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                            
                .body__each__des
                    p=  selectedStore.description
                .each__menu
                    .treatment__wrapper
                        h4.treatments Treatments
                        p.price__range Price range
                    .treatment__wrapper
                        h4 #{selectedStore.menu.treatment[0] || 'N/A'}
                        p  £ #{selectedStore.menu.price[0] || 'N/A'}
                    .treatment__wrapper
                        h4 #{selectedStore.menu.treatment[1] || 'N/A'}
                        p  £ #{selectedStore.menu.price[1] || 'N/A'}
                .body__map__wrapper
                    h4 Address
                    .each__map#map2
                    .map__location 
                        p= selectedStore.location.address   
                if selectedStore.reviews.length
                    .display__reviews
                        h3  Reviews
                        each review in selectedStore.reviews
                            .review
                                +review(review)
                else 
                    h2.no__reviews no reviews
                if selectedStore.author.id == user._id
                    
                else 
                    .body__contact__button 
                        input.button__wrapper.booking__button(type="button", value="Make Enquiry")
                .body__booking__popup 
                    .booking__popup__innner
                        h3 Make an Enquiry
                        svg.booking__cancel__menu(width="22px", height="22px")
                            use(xlink:href="/images/icons/cancel.svg#cancelIcon")
                        form(action=`/app/${selectedStore.slug}/booking/${selectedStore._id}`, method="post")
                            label(for="contactNum") Contact Number
                            input(type="numer" name='contact' required)
                            label(for="date") Requested Date
                            input(type="date", name="date" required)
                            label(for="time") Request Time
                            input(type="time", name="time" required)
                            label(for="message") Message
                            textarea(name="message" required)
                            button(type="submit") Send Message
        .app__navigation
            .app__navigation__container
                .app__nav__inner.app__selected
                    a(href="/app/explore")
                        .app__nav__img__wrp
                            svg(width="20px", height="20px")
                                use(xlink:href="/images/icons/magnifying-glass.svg#magnifyingIcon")
                        h3 Explore
                .app__nav__inner
                    a(href="/app/favourites")
                        .app__nav__img__wrp
                            svg(width="20px", height="20px")
                                use(xlink:href="/images/icons/heart.svg#favouritesIcon")
                        h3 My Favourites
                .app__nav__inner
                    a(href="/app/bookings")    
                        .app__nav__img__wrp
                            svg(width="20px", height="20px")
                                use(xlink:href="/images/icons/shopping-bag.svg#bookingsIcon")
                        h3 My Bookings
        .app__nav 
            .app__nav__inner
                svg.cancel__menu(width="30px", height="30px")
                    use(xlink:href="/images/icons/cancel.svg#cancelIcon")
                .app__nav__header
                    .app__nav__header__img
                        img(src=`https://res.cloudinary.com/dl774tcx9/image/upload/a_1/cover/${user.photo || '2020-04-06T13:16:15.638Z'}.jpg`)
                    .app__nav__header__title
                        h2 #{user.name} 🌴
                        p= user.email
                .app__nav__body
                    .app__nav__btn
                        a(href="/user/account")
                            button 
                                i 
                                    svg(width="25px", height="25px")
                                        use(xlink:href="/images/icons/upload.svg#uploadIcon") 
                                |Upload a profile picture
                            

                    a(href="/user/account")
                        .app__nav__section
                            .app__nav__icon
                                span.menu__icon
                                    svg(width="24px", height="24px")
                                        use(xlink:href="/images/icons/settings.svg#settingsIcon")
                            .app__nav__page
                                p Account Settings
                    -let isOwner = false;
                        each store in stores
                            if  user && store.author.equals(user._id)
                                - isOwner = true;
                                a(href=`/app/${store._id}/edit`)
                                    .app__nav__section
                                        .app__nav__icon
                                            span.menu__icon
                                                svg(width="24px", height="24px")
                                                    use(xlink:href="/images/icons/settings-1.svg#editStoreIcon")
                                        .app__nav__page
                                            p Edit your store       
                        if !isOwner
                                a(href="/app/seller/create")
                                    .app__nav__section
                                        .app__nav__icon
                                            span.menu__icon
                                                svg(width="24px", height="24px")
                                                    use(xlink:href="/images/icons/shopping-cart.svg#shoppingIcon")
                                        .app__nav__page
                                            p Become a seller today
                    a(href="/explore/map")
                        .app__nav__section
                            .app__nav__icon
                                span.menu__icon
                                    svg(width="24px", height="24px")
                                        use(xlink:href="/images/icons/magnifying-glass.svg#magnifyingIcon")
                            .app__nav__page
                                p Sellers near me
                    a(href="/explore/top")
                        .app__nav__section
                            .app__nav__icon
                                span.menu__icon
                                    svg(width="24px", height="24px")
                                        use(xlink:href="/images/icons/like.svg#likeIcon")
                            .app__nav__page
                                p Top Sellers
                    a(href="/logout")
                        .app__nav__section
                            .app__nav__icon
                                span.menu__icon
                                    svg(width="24px", height="24px")
                                        use(xlink:href="/images/icons/logout.svg#logoutIcon")
                            .app__nav__page
                                p Log out
    .app__blackout
    script.
        function initMap() {
            let location = {
            lat: #{selectedStore.location.coordinates[1]},
            lng: #{selectedStore.location.coordinates[0]}
            };
            let map = new google.maps.Map(document.getElementById("map2"), {
            zoom: 15,
            center: location,
            styles: [
                        {
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#f5f5f5"
                            }
                            ]
                        },
                        {
                            "elementType": "labels.icon",
                            "stylers": [
                            {
                                "visibility": "off"
                            }
                            ]
                        },
                        {
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#f49fe3"
                            }
                            ]
                        },
                        {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                            {
                                "color": "#f5f5f5"
                            }
                            ]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#f49fe3"
                            }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#f49fe3"
                            }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#ffffff"
                            }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#f49fe3"
                            }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#dadada"
                            }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#616161"
                            }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#f49fe3"
                            }
                            ]
                        },
                        {
                            "featureType": "transit.line",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                            ]
                        },
                        {
                            "featureType": "transit.station",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#ffffff"
                            }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                            ]
                        }
                        ]
            });
            let marker = new google.maps.Marker({
            position: location,
            icon: '/images/location-pin.png',
            map: map
            });
      }
            