mixin storeCard(store = {})
    a.store__styling(href=`/app/explore/${store.slug}`)
     .store__inner_card
       .store__card__inner
            .store__img
                img(src=`/uploads/${store.photo || 'salon.jpg'}`, alt="")
            .store__info__wrapper
                .store__info__inner
                    h2= store.name
                    p= store.description
                    .store__lower
                        .store__address
                            img(src="/images/icons/placeholder.png", alt="")
                            p= store.location.address
                        .store__reviews
                            p 5 star review
                    